body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
@media only screen and (max-width: 480px) {
    .screen{
        height: 90%;
        width: 100%;
        background-color: whitesmoke;
    }
    .items-holder {
        position: relative;
    } 
    .menu {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        flex-wrap: nowrap;
        white-space: nowrap;
        background-color: lightgray; 
        height: 10%;
        align-items: center;     
   }
    .item {
        height: 50px;
        padding: 5px;
        min-width: 50px;
        margin-right: 15px;
        border: black solid 2px;
        background-color: gray;
        border-radius: 50%;
        background-size: cover;
    }
    .backbutton{
        height: 5%;
        width: 100%;
        background-color: aqua;
    }
    .item:hover{
        background-color: black;
    }
}