{
    box-sizing: border-box;
}

body {
    background: #151616;
    background-size: cover;
}

.index {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    font-family: sans-serif;
    background: #F3CA3E;
    border-radius: 10px;
}

#jpg img {
    width: 100px;
    height: 100px;
    transition: all 1s;
}

.index h2 {
    font-size: 2em;
    text-align: center;
}

button {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 2em;
    border-radius: 15px;
    margin-bottom: 20px;
}

button a {
    text-decoration: none;
    color: #2E2E2E;
}

button:nth-child(1) {
    background: #2E2E2E;
}

button:nth-child(2) {
    background: #2E2E2E;
}

/* input[type=text],
input[type=password],
input[type=submit] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 2px solid gray;
} */

.image-container {
    position: relative;
    height: 100px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}